* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body * {
    font-family: "Inter", sans-serif;
}

body {
    background: url(./assets/bg-image.jpg) no-repeat top center/cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    font-family: "Inter", sans-serif;
    display: block;
    text-align: center;
    margin: auto;
    background-color: rgba(165, 42, 42, 0.5);
}

#container {
    width: auto;
    margin: 12px auto 0px;
    padding: 0 24px;
    align-items: center;
}

#profile {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}



#cardapio {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#cardapio a {
    text-decoration: none;
    font-size: bold;
    color: brown;
}

#cardapio a:hover{
    color: rgba(122, 51, 29, 0.8);
}

footer {
    font-family: "Inter", sans-serif;
    display: block;
    text-align: center;
    margin: auto;
    background-color: rgba(165, 42, 42, 0.5);
}

footer span{
    display: block;
}